/.vs
/.idea
/.vscode
/bin
**/GolemLib/bin/
**/GolemLib/obj/
**/Mock/bin/
**/Mock/obj/
/FacadeHeadlessApp/bin/
/FacadeHeadlessApp/obj/
/Golem/bin/
/Golem/obj/
/Golem.Tests/bin/
/Golem.Tests/obj/
/Golem.Tests/tests/
/Golem.Tests/TestResults
/Golem.Tests/Tools/App/.venv
/Golem.Tests/Tools/App/build
/Golem.Tests/Tools/App/dist
/Golem.Tests/Tools/App/app.spec
/GolemLib.Tests/bin/
/GolemLib.Tests/obj/

/Golem.Tools/bin/
/Golem.Tools/obj/
/Golem.Tools/App/.venv
/Golem.Tools/App/*.log
/Golem.Tools/App/build
/Golem.Tools/App/dist
/Golem.Tools/App/app.spec

/Golem.Package/bin/
/Golem.Package/obj/
/Golem.Package/tests/
/Golem.Package/package/

/example/ExampleRunner/bin/
/example/ExampleRunner/obj/

/MockGUI/bin/
/MockGUI/obj/
/modules/
/modules-*/
/package/
/releases/

/example/ai-requestor/*.log
/example/ai-requestor/.venv/
/example/ai-requestor/dist

**/example/ai-requestor/outputs/
**/output.png

/example/DummyAiHttpServer/__pycache__/
/example/ai-requestor/__pycache__/
**/MockGUI/MockGUI.sln
