/.vs
/.idea
/.vscode
/bin
GolemLib/bin/
GolemLib/obj/
Mock/bin/
Mock/obj/
/FacadeApp/bin/
/FacadeApp/obj/
/Golem/bin/
/Golem/obj/
/Golem.Tests/bin/
/Golem.Tests/obj/
/Golem.Tests/tests/
/Golem.Tests/TestResults
/Golem.Tests/Tools/App/.venv
/Golem.Tests/Tools/App/build
/Golem.Tests/Tools/App/dist
/Golem.Tests/Tools/App/app.spec

/Golem.Tools/bin/
/Golem.Tools/obj/
/Golem.Tools/App/.venv
/Golem.Tools/App/*.log
/Golem.Tools/App/build
/Golem.Tools/App/dist
/Golem.Tools/App/app.spec

/Golem.Package/bin/
/Golem.Package/obj/
/Golem.Package/tests/
/Golem.Package/package/

/ExampleRunner/bin/
/ExampleRunner/obj/

/MockGUI/bin/
/MockGUI/obj/
/modules/
/modules-*/
/package/
/releases/

/example/ai-requestor/*.log
/example/ai-requestor/.venv/
/example/ai-requestor/dist

output.png

/DummyAiHttpServer/__pycache__/
